<!DOCTYPE html>
<html>
<head>
    @using System.Web.Optimization;
    @using Food_Truck.App_Start;
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Truck</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body style="background-color:papayawhip">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index")">
                    <img src="~/Content/Food-truck-logo-design-Graphics-1.jpg" height="30" width="50" style="margin-top:10px" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Acceuil", "Index", "Accueil")</li>
                    <li>@Html.ActionLink("Catalogue", "Index", "Produits")</li>
                    <li style="width:700px;"></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Contact", "About", "Home")</li>
                </ul>
                <a href="@Url.Action("Index")">
                    <img src="~/Content/shopping-basket.png" height="30" width="30" style="margin-top:10px" />
                </a>
                <a href="@Url.Action("Index")">
                    <img src="~/Content/user (2).png" height="30" width="30" style="margin-top:10px; margin-left:5px; margin-right:5px" />
                </a>
                <a href="@Url.Action("Index")">
                    <img src="~/Content/210121.png" height="32" width="34" style="margin-top:10px" />
                </a>
            </div>
            @*<a href="@Url.Action("Index")">
                    <img src="~/Content/0867f9ff-d590-4ca5-88fa-66ae39d77ad0_Akka-Technologies.png" height="30" width="50" style="margin-top:10px" />
                </a>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Food Truck</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

